*{
    margin: 0;
    padding: 0;
}

/* css variable */
:root{
    --navbar_height:60px;
}
/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    /* border: 1px solid black; */
    height: 10vh;
    /* position: sticky; */

}

#navbar::before{
    content: "";
    background-color: grey;
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100vw;
    z-index: -1;
    opacity: .9;
}


.logo img{
    height: 50px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 100%;
}
#navbar ul{
    display: flex;

}
#navbar ul li{
    list-style: none;
    font-size: 20px;
    padding: 15px 15px;
    margin-bottom: 15px;
}
#navbar ul li a{
    text-decoration: none;
    color: black;

}
/* section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 250px ;
    justify-content: center;
    align-items: center;
    height: 40vh;

}
#home::before{
    content: "";
    background:url("../images/food.jpg")no-repeat center center/cover;
    position: absolute;
    top: 0;
    height: 60vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.8;
}

.primary{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
}
.btn{
    padding: 5px 15px;
    border: 2px solid pink;
    margin: 10px ;
    border-radius: 10px;
    background-color: pink;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
#services{
    display: flex;
    padding: 0px 15px;
}
#services h1{
    position: relative;
    left: 390px;
    top: 60px;
    font-size: 2rem;
    font-family: fantasy;
}

#all-box{
    display: flex;
    margin-right: 90px;
    margin-top: 50px;
    padding: 0px 4px;

}
.box1{
    position: relative;
    border: 2px solid black;
    width: 25vw;
    height: 210px;
    margin-top: 85px;
    margin-right: 0px;
    right: 85px;
    bottom: 20px;
    border-radius:20px ;
    border: 2px solid rgb(11, 185, 238);
    background-color: wheat;
    /* justify-content: center; */

}
.box1 img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;

}
.box1 .box1-h{
    display: block;
    width: 34px;
    margin: auto;
}
.box1 p{
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box2{
    position: relative;
    border: 2px solid black;
    width: 25vw;
    height: 210px;
    margin-top: 85px;
    margin-left: 15px;
    right: 69px;
    bottom: 20px;
    border-radius:20px;
    border: 2px solid rgb(11, 185, 238);
    background-color: wheat;


}
.box2 img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;

}
.box2 .box2-h{
    display: block;
    width: 74px;
    margin: auto;
}
.box2 p{
    text-align: center;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box3{
    position: relative;
    border: 2px solid black;
    width: 25vw;
    height: 210px;
    margin-top: 85px;
    margin-left: 15px;
    bottom: 20px;
    right: 55px;
    border-radius:20px;
    border: 2px solid rgb(11, 185, 238);
    background-color: wheat;
}
.box3 img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;

}
.box3 .box3-h{
    display: block;
    width: 74px;
    margin: auto;
}
.box3 p{
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* #clients */
#clients-section{
    background:url('../images/food3.jpg') no-repeat center center/cover;
    height: 350px;
}
#clients-section .clients{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: monospace;
}
#clients-section .clients-images{
    display: flex;
    height: 200px;
    margin-left: 80px;
    padding:0px 25px;
}
.clients-images img{
    width: 180px;
}
.clients-images{
    margin-left: 170px;
}
.clients-images .img1{
    position: relative;
    top: 30px;
    bottom: 5px;
    height: 150px;
    border-radius: 100%;
    
}
.clients-images .img2{
    position: relative;
    height: 70px;
    top: 30px;
    left: 55px;
    height: 150px;
    border-radius: 100%;

}
.clients-images .img3{
    position: relative;
    height: 70px;
    top: 30px;
    left: 85px;
    height: 150px;
    border-radius: 40%;

}
.clients-images .img4{
    position: relative;
    height: 70px;
    top: 30px;
    left: 120px;
    height: 150px;
    border-radius: 100%;
}
/* #contact */
#contact-us::before{
    content: "";
    position: absolute;
    background: url('../images/foods2.jpg')no-repeat center center/cover;
    width: 100%;
    height: 490px;
    z-index: -1;
    opacity: .9;
}
#contact-us .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#contact-us .details{
    display: block;
    justify-content: center;
    align-items: center;
}
.details input{
    display: block;
    width: auto;
    margin: auto;
    border: 2px solid rgb(6, 221, 250);
    margin-top: 15px;
    border-radius: 12px;
    padding: 7px 10px;
}
.details textarea{
    display: block;
    width: auto;
    margin: auto;
    border: 2px solid rgb(6, 221, 250);
    margin-top: 15px;

}
.details ::placeholder{
    color: turquoise;
    font-family: serif;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;

}
footer p{
    background-color: black;
    color:white;
    margin-top: 95px;
    padding: 10px 10px;
    text-align: center;
}
